<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable when debugging
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    -->

    <rewrite>
      <rules>
        <clear />
        <rule name="Route the http requests for /" stopProcessing="true">
          <match url="^(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://labs.cityindex.com/ciapi-client-libraries/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
      </rules>

      <outboundRules>
        <preConditions>
          <!-- See http://msdn.microsoft.com/en-us/library/ms524602(v=vs.90).aspx for full list of available server side variables-->
          <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>

        <rule name="Replace references to http://labs.cityindex.com/ciapi-client-libraries/ with /" preCondition="IsHTML" enabled="true">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="http://labs.cityindex.com/ciapi-client-libraries/(.*)" />
          <action type="Rewrite" value="/{R:1}" />
        </rule>
        
      </outboundRules>

    </rewrite>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="400-999" verbosity="Ignore" />
        </add>
      </traceFailedRequests>
    </tracing>

  </system.webServer>


</configuration>

