<!-- begins navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">
                <img src="/img/logo.png" alt="logo" /> <span class="logo_text">Reverse Proxy as CMS</span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="/problem.html">The problem</a></li>
                    <li><a href="/solution.html">The solution</a></li>
                    <li><a href="/wiki/FAQ">FAQ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Examples
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/IIS7.html">IIS7 using ARR and UrlRewrite</a></li>
                            <li><a href="/Nginx.html">Nginx</a></li>
                            <li><a href="/Varnish.html">Varnish</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="btn-header" href="https://github.com/mrdavidlaing/reverse_proxy_as_CMS">Source code</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->