<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable when debugging
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    -->

    <rewrite>
      <providers>
          <provider name="InjectHTMLUrlRewriteProvider" type="InjectHTMLUrlRewriteProvider.InjectHTMLUrlRewriteProvider, InjectHTMLUrlRewriteProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3c70f3bb836017a4">
              <settings>
                  <add key="replacePattern" value="all" />
              </settings>
          </provider>
      </providers>
      <rules>
        <clear />
        <rule name="Route the http requests for /whitepapers" stopProcessing="true">
          <match url="^/?whitepapers/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="https://googledrive.com/host/0B0iLBOBULteOZjNlYTVrVWljR2M/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
             <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="Route the http requests for /todomvc" stopProcessing="true">
          <match url="^/?todomvc/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://angularjs_travis-ci_browserstack.cloudfoundry.com/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
             <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="Route the http requests for /wiki to GitHub wiki" stopProcessing="true">
          <match url="^/?wiki(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="https://github.com/mrdavidlaing/reverse_proxy_as_CMS/wiki{R:1}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
        <rule name="Route the http requests for /" stopProcessing="true">
          <match url="^(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://mrdavidlaing.github.com/reverse_proxy_as_CMS/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
             <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
      </rules>

      <outboundRules>
        <preConditions>
          <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
        
        <rule name="Replace references to /mrdavidlaing/reverse_proxy_as_CMS/wiki with /wiki" preCondition="IsHTML" enabled="true">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="/mrdavidlaing/reverse_proxy_as_CMS/wiki(.*)" />
          <action type="Rewrite" value="/wiki{R:1}" />
        </rule>
        <rule name="Replace Github Wiki nav with our nav" preCondition="IsHTML" enabled="true">
          <match pattern="&lt;div class=&quot;header(\s|.)*&lt;div class=&quot;tabnav&quot;&gt;" />
          <action type="Rewrite" value="{InjectHTMLUrlRewriteProvider:http://www.reverse-proxy-as-cms.info/navbar_only.html} &lt;div class=&quot;tabnav&quot;&gt;" /> 
        </rule>
        <rule name="Fix Github Wiki wrapper hack" preCondition="IsHTML" enabled="true">
          <match pattern="&lt;div id=&quot;wrapper&quot;" />
          <action type="Rewrite" value="&lt;div id=&quot;wrapper&quot; style=&quot;min-height:auto; margin-bottom:auto;&quot;" /> 
        </rule>
        <rule name="Replace Github Wiki footer" preCondition="IsHTML" enabled="true">
          <match pattern="&lt;!-- footer --&gt;(\s|.)*&lt;!-- /.#footer --&gt;" />
          <action type="Rewrite" value="&lt;!-- footer removed --&gt;" /> 
        </rule>
       <rule name="Replace TodoMVC nav with our nav" preCondition="IsHTML" enabled="true">
          <match pattern="&lt;body(.*)&gt;" />
          <action type="Rewrite" value="&lt;body{R:1}&gt;{InjectHTMLUrlRewriteProvider:http://www.reverse-proxy-as-cms.info/navbar_only.html}" /> 
        </rule>
      </outboundRules>

    </rewrite>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="400-999" verbosity="Ignore" />
        </add>
      </traceFailedRequests>
    </tracing>

  </system.webServer>
  

</configuration>

