<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="LoadBalanceRewriteProviderTest" stopProcessing="false">
          <match url="_" />
          <action type="Redirect" url="{LoadBalanceRewriteProvider:{URL}}" />
        </rule>
        <rule name="Route the http requests for RangeOfMarkets" stopProcessing="true">
          <match url="^/?range-of-markets(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://" />
          </conditions>
          <action type="Rewrite" url="https://googledrive.com/host/0BzRF8Nio7_YxZjVZX0VSWGduQ0k/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="Route the http requests for TradingPlatform" stopProcessing="true">
          <match url="^/?trading-platform(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://" />
          </conditions>
          <action type="Rewrite" url="http://angularjs_travis-ci_browserstack.cloudfoundry.com/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="Route the http requests for Root" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://" />
          </conditions>
          <action type="Rewrite" url="http://www.cityindex.co.uk/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="RangeOfMarkets" />
      </rewriteMaps>
    </rewrite>
    
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,RequestRouting" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="401-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  
</configuration>

