<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable when debugging
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    -->
    
    <rewrite>
      <rules>
        <clear />
        
        <rule name="Route the http requests for /" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://" />
          </conditions>
          <action type="Rewrite" url="http://www.cityindex.co.uk/{R:1}" logRewrittenUrl="true" />
        </rule>
        
        <rule name="Route the http requests for /range-of-markets" stopProcessing="true">
          <match url="^/?range-of-markets(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://" />
          </conditions>
          <action type="Rewrite" url="https://googledrive.com/host/0BzRF8Nio7_YxZjVZX0VSWGduQ0k/{R:1}" logRewrittenUrl="true" />
        </rule>
        
        <rule name="Route the http requests for /trading-platform" stopProcessing="true">
          <match url="^/?trading-platform(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://" />
          </conditions>
          <action type="Rewrite" url="http://angularjs_travis-ci_browserstack.cloudfoundry.com/{R:1}" logRewrittenUrl="true" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
  
</configuration>

