<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable when debugging
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    -->
    
    <rewrite>
      <rules>
                <clear />
                <rule name="Route the http requests for /range-of-markets" stopProcessing="true">
                    <match url="^/?range-of-markets(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://googledrive.com/host/0BzRF8Nio7_YxZjVZX0VSWGduQ0k/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Route the http requests for /trading-platform" stopProcessing="true">
                    <match url="^/?trading-platform(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://angularjs_travis-ci_browserstack.cloudfoundry.com/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Route the http requests for /" stopProcessing="true">
                    <match url="^(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://www.cityindex.co.uk/{R:1}" logRewrittenUrl="true" />
                </rule>

      </rules>
    </rewrite>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-999" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer>
  
</configuration>

